<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:mem:myDb;DB__CLOSE__DELAY=-1</property>
        <property name="hibernate.connection.username">test</property>
        <property name="hibernate.connection.password">test</property>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
        
        <!-- JDBC connection pool (use the built-in) -->
 		<!-- <property name="connection.pool_size">2</property> -->
        <!-- Enable Hibernate's automatic session context management -->
        <!-- <property name="current_session_context_class">thread</property> -->
        
        <!-- Echo all executed SQL to stdout -->
 		<property name="show_sql">true</property>
 		
 		<property name="hbm2ddl.auto">create</property>
        <!-- <property name="hibernate.show_sql">true</property> -->
        <!-- <property name="hibernate.hbm2ddl.auto">create</property> -->
 		
 		<mapping class="ru.kruvv.primefaces.models.User" />
  		<mapping class="ru.kruvv.primefaces.models.Book" />
    </session-factory>
</hibernate-configuration>
